:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  color: #2e2e2e;
  background-color: #ffffff;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  font-weight: 700;
  color: #2e2e2e;
  background-color: #ffffff;
  /* border-bottom: 1px solid #d1d5db; */
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td,
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 1.25rem 1.5rem !important; /* px-6 py-5 */
  font-size: 1.25rem;
  color: #2e2e2e;
}