<app-login-layout title="Signup">
    <form action=""
        class="bg-[#DDB892] border-8 border-[#6F4E37] w-[600px] h-[600px] rounded-2xl flex flex-col items-center justify-between px-12 py-16">
        <section class="flex flex-col w-full gap-5 text-[#2E2E2E]">
            <div class="flex flex-col">
                <span class="ml-2 font-medium">Nome Completo</span>
                <input type="text" class="bg-white mt-1 w-full h-9 rounded-lg px-2 py-1" placeholder="Nome Completo"
                    aria-label="">
                <span class="ml-2 mt-5 font-medium">Email</span>
                <input type="text" class="bg-white mt-1 w-full h-9 rounded-lg px-2 py-1" placeholder="Email"
                    aria-label="">
                <span class="ml-2 mt-5 font-medium">Nacionalidade</span>
                <input type="text" class="bg-white mt-1 w-full h-9 rounded-lg px-2 py-1" placeholder="Nacionalidade"
                    aria-label="">
            </div>
            <div class="flex flex-row w-full justify-between gap-3">
                <div class="w-full">
                    <span class="ml-2 font-medium">Senha</span>
                    <input type="text" class="bg-white mt-1 w-full h-9 rounded-lg px-2 py-1" placeholder="Senha"
                        aria-label="">
                </div>
                <div class="w-full">
                    <span class="ml-2 mb-2 font-medium">Telefone</span>
                    <input type="text" class="bg-white mt-1 w-full h-9 rounded-lg px-2 py-1" placeholder="Telefone"
                        aria-label="">
                </div>
            </div>
        </section>
        <section class="flex flex-row justify-evenly w-full gap-6">
            <button class="py-2 w-full cursor-pointer rounded-lg bg-[#FFF8F0] border-2 border-[#5F0F40]">
                <span class="text-lg font-semibold text-[#2E2E2E]">Fazer Login</span>
            </button>
            <button class="py-2 w-full cursor-pointer rounded-lg bg-[#7D9A38]">
                <span class="text-lg font-semibold text-[#FFF8F0]">Fazer Cadastro</span>
            </button>
        </section>
    </form>
</app-login-layout>