<main class="px-16 h-full">
    <section>
        <div class="flex items-center justify-between py-8">
            <span class="text-5xl font-bold italic text-[#2E2E2E]">CoffeeBreak;</span>
            <div class="flex items-baseline-last justify-center gap-12 h-12">
                <button class="cursor-pointer" (click)="logout()"><ng-icon size="24" name="featherLogOut"></ng-icon></button>
                @if(role == "CLIENT") {
                <button class="cursor-pointer"><ng-icon size="24" name="featherShoppingCart"></ng-icon></button>
                <button class="cursor-pointer"><ng-icon size="24" name="featherUser"></ng-icon></button>
                }
            </div>
        </div>
        @if(hasNavBar) {
        <app-navbar />
        } @else {
        <div class="h-1 bg-[#6F4E37]"></div>
        }
    </section>
    <router-outlet />
</main>